[DBSettings]
DatabaseServerName=SCLAB-02.amr.corp.intel.com
DatabaseName=DarkCockpit
DataBaseBackupFilePath=\DarkCockpitDAL\SQL\DarkCockpit\Backup
DataBaseBackupFileName=DarkCockpit.BAK
MigrationScriptFolderPath=\DarkCockpitDAL\SQL\DarkCockpit\SchemaMigrations
ApplicationDataBaseArtifactsFolderPath=\DarkCockpitDAL\SQL\DarkCockpit
ApplicationDataBaseArtifactsCleanupFilePath=\DarkCockpitDAL\SQL\DarkCockpit\BuildScripts\cleanup_objects.sql
DatabaseModelFolder=DarkCockpit\Models
DatabaseRestore=False
