[DBSettings]
DatabaseServerName=sql2525-fm1-in.amr.corp.intel.com,3181
DatabaseName=DarkCockpit
DataBaseBackupFilePath=\DarkCockpitDAL\SQL\DarkCockpit\Backup
DataBaseBackupFileName=DarkCockpit.BAK
MigrationScriptFolderPath=\DarkCockpitDAL\SQL\DarkCockpit\SchemaMigrations
ApplicationDataBaseArtifactsFolderPath=\DarkCockpitDAL\SQL\DarkCockpit
ApplicationDataBaseArtifactsCleanupFilePath=\DarkCockpitDAL\SQL\DarkCockpit\BuildScripts\cleanup_objects.sql
DatabaseModelFolder=DarkCockpit\Models
DatabaseRestore=False
